@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
button{
  cursor: pointer;
}
.App{
  background: #292d34;
}
/* header start */
.App header{
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #14161A;
}
.App header input{
  font-family: 'Roboto';
  font-size: 11px;
  padding: 4px 8px;
  flex: 1;
  /* background: #F6F6F6; */
  background: #14161A;
  color: white;
  border-radius: 4px;
  border: 1px solid #353A44;
  margin-right: 8px;
  height: 16px;
}
.App header input::placeholder{
  color: #C4C4C4;
}

.App header button{
  box-shadow: 0px 2px 2px 0px #00000040;
}

.App header button:nth-child(2){
  padding: 4px 8px;
  border: 1px solid #FFA715;
  font-family: 'Roboto';
  font-size: 11px;
  background: #292d34;
  color: #FFA715;
  border-radius: 4px;
  margin-right: 8px;
  height: 24px;
}
.App header button:nth-child(3){
  padding: 4px 24px;
  background: #FFA715;
  color: white;
  border-radius: 4px;
  border: none;
  margin-right: 8px;
  height: 24px;
  font-size: 11px;
}
.App header button:nth-child(4){
  padding: 4px 8px;
  border: 1px solid #FFA715;
  font-family: 'Roboto';
  font-size: 11px;
  background: #292d34;
  color: #FFA715;
  border-radius: 4px;
}
.App header button .icon{
  margin-right: 8px;
}
/* header end */
/* content start */
/* sidebar start */
.App .content{
  display: flex;
}
.App .content .sidebar{
  flex: 0.25;
  color: #202020;
  padding-top: 8px;
  height: 86vh;
  overflow: auto;
  border-right: 1px solid #14161A;
}
.App .content .sidebar h3{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  margin-left: 8px;
  color: white;
}
.App .content .sidebar ul{
  margin-left: -40px;
  margin-top: 8px;
}
.App .content .sidebar ul a{
  text-decoration: none;
  color: white;
}
.App .content .sidebar ul li{
  list-style: none;
  font-family: 'Roboto';
  font-size: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 4px;
  padding-left: 10px;
}
.App .content .sidebar ul li.active{
  font-weight: bold;
  background: #FFA715;
  color: white;
}
.App .content .sidebar ul li .icon{
  margin-right: 8px;
}
/* sidebar end */
/* table start */
.App .content .empty{
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  justify-content: center;
  color: #9DA39D;
}
.App .content .table{
  flex: 1;
  height: 500px;
  overflow: hidden;
  color: white;
}
.App .content .table .inline{
  display: flex;
  flex-direction: row;
  /* background: #FFF3D0; */
  background: #292d34;
  padding-left: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #292d34;
}
.App .content .table textarea{
  font-family: 'Roboto';
  font-size: 11px;
  padding: 4px 8px;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #353A44;
  margin-right: 8px;
  color: #202020;
  margin-bottom: 8px;
  background: #14161A;
  color: white;
}
.App .content .table button{
  padding: 4px 8px;
  border: 1px solid #FFA715;
  font-family: 'Roboto';
  font-size: 11px;
  background: #292d34;
  color: #FFA715;
  border-radius: 4px;
  margin-right: 8px;
  height: 24px;
  box-shadow: 0px 2px 2px 0px #00000040;
}
.App .content .table .table{
  overflow: auto;
}
.App .content .table table{
  border-collapse: collapse;
  width: 100%;
}
.App .content .table table thead{
  background: #14161A;
}
.App .content .table table thead td{
  padding: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  min-width: 100px;
  border-right: 1px solid 14161A;
}
.App .content .table table tbody tr{
  border-bottom: 1px solid #14161A;
}
.App .content .table table tbody tr:nth-child(2n){
  background: #353A44;
}
.App .content .table table tbody td{
  padding: 4px;
  margin: 0;
  font-family: 'Roboto Mono';
  font-size: 11px;
  border-right: 1px solid #14161A;
}
.App .content .table table tbody td a{
  text-decoration: none;
  color: #90b061;
}
/* table end */
/* content end */
/* footer start*/
.App footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #FFF3D0; */
  background: #9DA39D;
  display: flex;
  padding: 8px;
  flex-direction: row;
  border-top: 1px solid #14161A;
}
.App footer button{
  border: none;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  color: #292D34;
}
.App footer .spacer{
  flex: 1;
}
.App footer button .icon{
  margin-right: 8px;
}
/* footer end */
/* popup start */
.App .bg-popup{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.App .bg-popup .popup-container{
  background: #292D34;
  width: 480px;
  padding: 16px;
  padding-right: 8px;
  border-radius: 4px;
  color: white;
}
.App .bg-popup .popup-container.loading{
  text-align: center;
  width: 70px;
  padding: 0px;
}
.App .bg-popup .popup-container.loading img{
  height: 64px;
}
.App .bg-popup .popup-container.error{
  width: 480px;
}
.App .bg-popup .popup-container .warning{
  background: #FFF3D0;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  font-size: 10px;
  margin-bottom: 16px;
  color: #202020;
}
.App .bg-popup .popup-container h2{
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
  color: white;
}
.App .bg-popup .popup-container h3{
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
  color: white;
}
.App .bg-popup .popup-container .form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.App .bg-popup .popup-container .form-group .inline{
  display: flex;
  flex-direction: row;
}
.App .bg-popup .popup-container .form-group label{
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  flex: 0 0 100%;
  margin-bottom: 4px;
  color: white;
}
.App .bg-popup .popup-container .form-group input{
  font-family: 'Roboto';
  font-size: 11px;
  padding: 4px 8px;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #353A44;
  margin-right: 8px;
  height: 16px;
  background: #14161A;
  color: white;
}
.App .bg-popup .popup-container .form-group input:disabled{
  background: #353A44;
}
.App .bg-popup .popup-container .form-group select{
  font-family: 'Roboto';
  font-size: 11px;
  padding: 4px 8px;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #353A44;
  margin-right: 8px;
  height: 16px;
  color: white;
  background: #14161A;
}
.App .bg-popup .popup-container .form-group input::placeholder{
  color: #C4C4C4;
}
.App .bg-popup .popup-container .form-group textarea{
  font-family: 'Roboto';
  font-size: 11px;
  padding: 4px 8px;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #353A44;
  margin-right: 8px;
  color: white;
  background: #14161A;
}
.App .bg-popup .popup-container .form-group textarea::placeholder{
  color: #C4C4C4;
}
.App .bg-popup .popup-container button{
  padding: 4px 8px;
  border: 1px solid #FFA715;
  font-family: 'Roboto';
  font-size: 11px;
  background: #292d34;
  color: #FFA715;
  border-radius: 4px;
  margin-right: 8px;
  height: 24px;
}
.App .bg-popup .popup-container button.active{
  background: #FFA715;
  color: white;
  border: none;
}
.App .bg-popup .popup-container .navigation{
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
/* popup end */

/* @media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
} */